<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'accounts/change_psw.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/media-query3.css' %}">
    <link rel="shortcut icon" href="{% static 'accounts/favicon.ico' %}"/>
    <script src="https://kit.fontawesome.com/2bee015825.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NAVBAR -->

    <div>
        <nav>
            <div class="navbar">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <i class="fab fa-phoenix-framework fa-3x"><strong class="logo">N</strong>ote<strong
                    class="logo">B</strong>ook</i>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}" aria-current="page"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="{% url 'about' %}"><i class="fas fa-edit"></i> About</a></li>

                <li><a href="/password_change/"><i class="fas fa-user-edit"></i> Change Password</a></li>

                <li><a href="/admin/"><i class="fas fa-user-shield"></i> Admin</a></li>

                <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </nav>
    </div>


    <!-- end -->
    <div class="login-wrapper">
        <form method="POST" class="form">{% csrf_token %}
            <img src="{% static 'accounts/images/avatar.png' %}" alt="icon">
            <h2> Change Password</h2>
            <div class="input-group">
                <input name="old_password" id="old-password" type="password" required="true">
                <label for="old-password">Old Password</label>
            </div>
            <div class="input-group">
                <input type="password" name="new_password1" id="id_new_password1" required="true">
                <label for="new-password">New Password</label>
            </div>
            <div class="input-group">
                <input type="password" name="new_password2" id="id_new_password2" required="true">
                <label for="confirm-password">Confirm Password</label>
            </div>
            <input type="submit" value="Submit" class="btn"> {% for field in form %} {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}{% endfor %}
        </form>
            <script>
            const navbar = document.querySelector(".navbar");
            const navLinks = document.querySelector(".nav-links");
            const links = document.querySelectorAll(".nav-links li");

            navbar.addEventListener("click", () => {
                navLinks.classList.toggle("open");
                links.forEach(link => {
                    link.classList.toggle("fade");
                });
            });
        </script>

    </div></body>

</html>