{% extends 'accounts/home.html' %}

{% block body_block %}
    {% block head_block %}
        <style>
            body {
                background: url("/static/accounts/images/notes2.jpg") fixed no-repeat;
                background-size: cover;
            }

            #left {
                height: 70vh;
                width: 20%;
                top: 220px;
                z-index: 5;
                float: left;
                position: fixed;
                left: 0px;

            }

            /* right */

            #main-heading {
                position: absolute;
                top: 100px;
                width: 900px;
                right: 100px;
                height: 2rem;
            }

            #right {
                height: 70vh;
                width: 65%;
                margin-left: -10rem;
                position: relative;
                top: 155px;
                padding-left: 30px;
                padding-bottom: 10px;
                /* border: 2px solid blue; */
                overflow-y: scroll;
                float: right;
                right: -300px;
            }

            .heading {
                color: antiquewhite;
                text-align: center;
                left: 150px;
                /* right: 700px; */
                position: absolute;
                /* text-decoration: underline; */
            }

            .topic {
                color: white;
                text-align: left;
                padding: 50px 30px 30px 30px;
                /* padding: 50px 30px; */
            }

            table {
                width: 750px;
                box-shadow: -6px 12px 12px -6px rgba(255, 255, 255, 0.5);
            }

            table,
            td {
                padding: 20px;
                text-align: center;
                cursor: pointer;
                color: white;
            }

            th {
                padding: 20px;
                text-align: center;
                cursor: pointer;
                color: antiquewhite;
            }

            td {
                font-size: 18px;
                color: white;
            }

            th {
                font-size: 20px;
                font-weight: bolder;
            }

            tr:nth-child(odd):hover {
                background-color: lightgreen;
                color: #000;
                transform: scale(1);
                transition: transform 3s ease-in;
            }

            tr:nth-child(even):hover {
                background-color: slateblue;
                color: #000;
                transform: scale(1);
                transition: transform 3s ease-in;
            }

            .btn {
                display: block;
                margin: auto auto;
                border: none;
                outline: none;
                font-size: 1rem;
                font-weight: 200;
                text-transform: uppercase;
                letter-spacing: 1px;
                width: 100%;
                padding: 10px 20px;
                border-radius: 23px;
                cursor: pointer;
                transform: rotate(0deg) skewX(0deg) translate(0, 0);
                transition: 0.5s;
                box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
            }


            .btn:hover {
                box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
            }


            /* right end */
        </style>
    {% endblock %}
    <div class="greet">
        <strong class="user">
            WELCOME,</strong><strong class="user1"> {{ request.user }} <i
            class="fas fa-user-graduate fa-1x"></i></strong>
        </strong>
    </div>
    <div id="left">
        <img style="height: 300px;
        width: 300px;
        position: absolute;
        left: 155px;
        top: 55px;
        border: 4px solid transparent;
        background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
        background-origin: border-box;
        background-clip: content-box, border-box;
     " src="/media/{{ info.img }}" alt="Picture">
    </div>

    <div id="main-heading">
        <h2 class="heading"><a href="\"><i class="far fa-arrow-alt-circle-left fa-2x"></i></a>{{ info.subject_name }}
            / {{ info.subject_code }}</h2><br>
    </div>
    <div id="right">
        {% if Note1 %}
            <h2 class="topic"><i class="fas fa-university"></i> Unit-1</h2>
            <table>
                <tr>
                    <th>Content</th>
                    <th>Uploaded By</th>
                    <th>Uploaded on</th>
                    <th>Size</th>
                    <th>View</th>
                    <th>Download</th>
                </tr>
                {% for x in Note1 %}
                    <tr>
                        <td> {{ x.name }}</td>
                        <td>{{ x.uploaded_by }}</td>
                        <td>{{ x.date }}</td>
                        <td>{{ x.file_upload.size|filesizeformat }}</td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ x.file_upload.url }}">View</a></button>
                        </td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ x.file_upload.url }}" download>Download</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if Note2 %}
            <h2 class="topic"><i class="fas fa-university"></i> Unit-2</h2>
            <table>
                <tr>
                    <th>Content</th>
                    <th>Uploaded By</th>
                    <th>Uploaded on</th>
                    <th>Size</th>
                    <th>View</th>
                    <th>Download</th>
                </tr>
                {% for y in Note2 %}
                    <tr>
                        <td> {{ y.name }}</td>
                        <td>{{ y.uploaded_by }}</td>
                        <td>{{ y.date }}</td>
                        <td>{{ y.file_upload.size|filesizeformat }}</td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ y.file_upload.url }}">View</a></button>
                        </td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ y.file_upload.url }}" download>Download</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if Note3 %}
            <h2 class="topic"><i class="fas fa-university"></i> Unit-3</h2>
            <table>
                <tr>
                    <th>Content</th>
                    <th>Uploaded By</th>
                    <th>Uploaded on</th>
                    <th>Size</th>
                    <th>View</th>
                    <th>Download</th>
                </tr>
                {% for z in Note3 %}
                    <tr>
                        <td> {{ z.name }}</td>
                        <td>{{ z.uploaded_by }}</td>
                        <td>{{ z.date }}</td>
                        <td>{{ z.file_upload.size|filesizeformat }}</td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ z.file_upload.url }}">View</a></button>
                        </td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ z.file_upload.url }}" download>Download</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if Note4 %}
            <h2 class="topic"><i class="fas fa-university"></i> Unit-4</h2>
            <table>
                <tr>
                    <th>Content</th>
                    <th>Uploaded By</th>
                    <th>Uploaded on</th>
                    <th>Size</th>
                    <th>View</th>
                    <th>Download</th>
                </tr>
                {% for w in Note4 %}
                    <tr>
                        <td> {{ w.name }}</td>
                        <td>{{ w.uploaded_by }}</td>
                        <td>{{ w.date }}</td>
                        <td>{{ w.file_upload.size|filesizeformat }}</td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ w.file_upload.url }}">View</a></button>
                        </td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ w.file_upload.url }}" download>Download</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if Assignment %}
            <h2 class="topic"><i class="fas fa-university"></i> Assignments</h2>
            <table>
                <tr>
                    <th>Content</th>
                    <th>Uploaded By</th>
                    <th>Uploaded on</th>
                    <th>Size</th>
                    <th>View</th>
                    <th>Download</th>
                </tr>
                {% for a in Assignment %}
                    <tr>
                        <td> {{ a.name }}</td>
                        <td>{{ a.uploaded_by }}</td>
                        <td>{{ a.date }}</td>
                        <td>{{ a.file_upload.size|filesizeformat }}</td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ a.file_upload.url }}">View</a></button>
                        </td>
                        <td>
                            <button class="btn"><a style="color:black;"
                                                   href="{{ a.file_upload.url }}" download>Download</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>
{% endblock %}