<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="shortcut icon" href="{% static 'accounts/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'accounts/register-page.css' %}">
    <script src="https://kit.fontawesome.com/2bee015825.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="box">
    <h2> Register</h2><br><br>
    <form action="" method="POST" autocomplete="off">{% csrf_token %}
        <div class="input-group">
            <input type="text" id="fname" name="first_name" required>
            <i class="fas fa-signature"></i>
            <label for="first_name">First Name</label>
        </div>
        <div class="input-group">
            <input type="text" id="lname" name="last_name" required>
            <i class="fas fa-signature"></i>
            <label for="last_name">Last Name</label>
        </div>
        <div class="input-group">
            <input type="email" id="email" name="email" required>
            <i class="fa fa-envelope" aria-hidden="false"></i>
            <label for="email">Email Address</label>
        </div>

        <div class="input-group">
            <input type="text" id="username" name="username" required>
            <i class="fas fa-user"></i>
            <label for="username">Username</label>
        </div>

        <div class="input-group">
            <input type="password" name="password1" id="password" required>
            <i class="fas fa-key" aria-hidden="false"></i>
            <label for="username">Password</label>
        </div>

        <div class="input-group">
            <input type="password" name="password2" id="c-password" required>
            <i class="fas fa-key" aria-hidden="false"></i>
            <label for="c-password">Confirm Password</label>
        </div>
        <div class="error">
            <b><h7 style="color: red">{{ form.errors }}</h7>
            {% if messages %}
                {% for message in messages %}
                    <p style="color:Yellow; text-align: center"><b>
                        {{ message }}
                    </b></p>
                {% endfor %}
            {% endif %}</b>
        </div>
        <input type="submit" value="Submit"><br><br>

        <a href="/login">Already have an account?</a>

    </form>
</div>
</body>

</html>