@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

header {
    /* border: 2px solid black; */
    width: 100vw;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roles {
    /* border: 2px solid rgb(165, 9, 9); */
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.neon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 0 20px;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;

}
.neon::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}
.neon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff005b;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
}

/* header .heading .text {
    border: 4px solid lightgreen;
    padding: 20px;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #f5f5f5;
    display: block;
    margin: auto auto;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
} */

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
}

.box:hover {
    height: 400px;
}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBx img {
    max-width: 100%;
    transition: 0.5s;
    height: 280px;
}

.box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    z-index: -1;
    filter: blur(10px);
}

.box:before,
.box:after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3)
}

.box .content {
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
#back-btn {
    /* border: 2px solid rgb(177, 174, 26); */
    width: 100vw;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    position: absolute;
    top: 0;
    background: #031321;
    font-size: 20px;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.4s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.05s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.025s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.075s;
}

@media screen and (max-width: 1099px){
    .neon{
        position: relative;
        top: 0;
        left: 25%;
    }
    .neon::before{
        filter: blur(20px);
    }
}
@media screen and (max-width: 955px){
    .box{
        height: 200px;
    }
    .box .imgBx img{
        height: 180px;
    }
    .box:hover {
        height: 300px;
    }


}
@media screen and (max-width: 860px){
    header{
        height: 100px;
    }
    .neon{
        left: 30%;
    }
    #roles{
        height: 300px;
    }

     #back-btn{
    height: 90px;
    }
    .btn{
       top: -21px;
    }
}
@media screen and (max-width: 700px)
{
    .neon{
        left: 35%;
    }
    header{
        height: 60px;
    }
    #roles{
        height: 600px;
        display: block;
    }
    .box{
        margin: 55px auto;
        width: 300px;
    }

    .box .imgBx{
        padding: 10px 50px;

     }
     #back-btn{
         display: block;
         top: 304px;
         left: 261px;
     }
}
@media screen and (max-width: 626px){
    #back-btn{
        left: 241px;
    }
}
@media screen and (max-width: 600px){
    .neon{
        left: 45%;
    }
    #back-btn{
        left: 220px;
    }
}
@media screen and (max-width: 585px){
    #back-btn{
        left: 207px;
    }
}

@media screen and (max-width: 557px){
    .neon{
        font-size: 2.5em;
    }
    #back-btn{
        left: 195px;
    }
}
@media screen and (max-width: 498px){
    #back-btn{
        left: 153px;
    }
}
@media screen and (max-width: 475px){
    .neon{
        font-size: 2em;
    }
    /* #back-btn{
        left: 139px;
    } */
}
@media screen and (max-width: 460px){
    .neon{
        font-size: 1.67em;
    }
    #back-btn{
        left: 150px;
    }
}
@media screen and (max-width: 417px){
    #back-btn{
        left: 128px;
    }
}
@media screen and (max-width: 375px){
    #back-btn{
        left: 102px;
    }
}
@media screen and (max-width: 333px){
    .neon{
        font-size: 1.5em;
        /* padding: 10px; */
    }
    .neon::before{
        filter: blur(10px);
    }
    #back-btn{
        left: 79px;
    }
}
@media screen and (max-width: 328px){
    .box{
        margin: 55px auto;
        width: 250px;
    }

    .box .imgBx{
        padding: 10px 30px;

     }
}