
@media screen and (max-width:1300px) {
    #left {
        left: -101px;
    }

    #right {
        display: flex;
        flex-wrap: wrap;
        left: 138px;
        margin-left: 0;
        width: 66%;
        top: 266px;
    }

    .topic {
        padding: 0px 30px 0px 30px;
    }

    table {
        position: relative;
        top: -149px
    }

    table,
    td {
        padding: 16px;
    }

    .btn {
        padding: 10px 15px;
        width: 90%;
    }
}

@media screen and (max-width:1217px) {
    #right {
        width: 54%;
    }
}

@media screen and (max-width:1184px) {
    .heading {
        left: 345px;
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:1148px) {
    #right {
        width: 46%;

    }

}

@media screen and (max-width:1090px) {
    nav {
        left: 0px;
    }

    #right {
        /* left: -378px; */
        left: 52px;
        /* left: -359px; */
        width: 50%;
        opacity: 1;
        padding: 0px 504px 100px 50px;
        /* border: 2px solid #000; */
        top: 155px;
    }

    #left {

        left: -131px;
    }

    .topic {
        position: relative;
        top: -52px;
        display: inline-block;
        width: 148px;
        margin: 50px 20px;
        padding: 16px;
        /* border: 2px solid red; */
    }

    .topic i {
        display: none;
    }

}


@media screen and (max-width: 1000px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
        width: 100vw;
        left: 276px;
    }

    #right {
        left: -378px;
    }

    .navbar {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: black;
        height: 100vh;
        z-index: 5;
        width: 100%;
        display: flex;
        left: -10px;
        padding-right: 173px;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        /* clip-path: circle(100px at 90% -10%); */
        -webkit-clip-path: circle(100px at 94% -16%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        /* -webkit-clip-path: circle(724px at 90% -10%); */
        -webkit-clip-path: circle(723px at 103% -10%);
        pointer-events: all;
        z-index: 5;
    }



    .nav-links li {
        /* padding-bottom: 4rem; */
        padding-top: 4.5rem;
        position: relative;
        right: 0px;
    }

    .nav-links li a {
        font-size: 25px;

    }

    .nav-links li:nth-child(1) {
        transition: all 0.6s ease 0.1s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.6s ease 0.2s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.6s ease 0.3s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.6s ease 0.4s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.6s ease 0.5s;
    }

    li.fade {
        opacity: 1;
    }
}


@media screen and (max-width:942px) {
    .heading {
        left: 438px;
    }
    #right {
        left: -334px;
    }
    .user,.user1{
        font-size: large;
    }
    
}
@media screen and (max-width:887px) {
    #right {
        left: -334px;
    }
    #left {
        left: -138px;
    }
    
}
@media screen and (max-width:870px){
    #right{
        padding: 0px 422px 100px 50px;
    }
    
}
@media screen and (max-width:839px){
    #right {
        left: -284px;
    }
    .heading {
        left: 465px;
    }
    nav{
        left: 241px;
    }
}
@media screen and (max-width:793px){
    #left{
        display: none;
    }
    #right{
        left: -434px;
        top: 163px;
        padding: 0px 498px 100px 50px;
    }
    nav{
        left: 283px;
    }
    .nav-links li {
        right: -114px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(890px at 151% -10%);
    }
    
}
@media screen and (max-width:757px){
    .heading {
        left: 500px;
    }
}
@media screen and (max-width:706px){
    #right{
        left: -397px;
    }
    nav{
        top: -10px;
    }
    .heading {
        font-size: 20px;
        left: 582px;
    }
    
}
@media screen and (max-width:687px){
    .nav-links.open {
        -webkit-clip-path: circle(890px at 163% -10%);
    }
}
@media screen and (max-width:645px){
    #right {
        left: -361px;
    }
    
}
@media screen and (max-width:622px){
    #right {
        left: -320px;
        padding-left: 0;
    }
    .nav-links li {
        right: -160px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(890px at 179% -10%);
    }
    
}

@media screen and (max-width:595px){
    .heading{
        left: 617px;
    }
    #right {
        left: -323px;
    }
    .nav-links{
        padding-right: 74px;
    }
    .nav-links li {
        right: -63px;
    }
    .nav-links li a{
        font-size: 20px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(890px at 188% -10%);
    }
    
    
}
@media screen and (max-width:580px) {
    #right {
        left: -298px;
    }
}
@media screen and (max-width:545px){
    #right {
        left: -306px;
    }  
}

@media screen and (max-width:535px){
    #right {
        padding: 0px 419px 100px 0px;
        margin: 85px 0;
        left: -281px;
    }
    nav {
        left: 213px;
    }
    .greet{
        display: block;
        width: 335px;
        left:77px;
    }
    .heading {
        left: 549px;
        top: 50px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(913px at 207% -10%);
    }
}
@media screen and (max-width:505px){
    .nav-links{
        padding-right: 5px;
    }
    .nav-links li {
        right: 11px;
    
    }
    #right{
        left: -256px;
    }

    
}
@media screen and (max-width:487px){
    #right {
        /* margin-left: 53px; */
        left: -277px;
    }
    .heading{
        left: 582px;
    }
    nav {
        left: 262px;
    }
    .greet{
        display: block;
        width: 335px;
        left:77px;
    }
    .heading {
        left: 549px;
        top: 50px;
    }
    table,td{
        padding: 16px 0;
    }
    
    
}
@media screen and (max-width:471px){
    .greet{
        left: 37px;
    }
    .heading {
        left: 581px;
    }
    nav {
        left: 244px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(913px at 219% -10%);
    }
    #right{
        left: -233px;
    }
}
@media screen and (max-width:451px){
    .heading{
        left: 596px;
    }
    .greet{
        width: 279px;
    }
    .fa-2x {
        font-size: 1.5em;
    }
    .nav-links.open {
        -webkit-clip-path: circle(978px at 240% -10%);
    }
    th,td{
        font-size: 18px;
    }
    #right{
        left: -243px;
    }
    nav{
        left: 217px;
    }
}
@media screen and (max-width:438px){
    #right{
        left: -222px;
    }
    
}
@media screen and (max-width:427px){
    .nav-links li{
        right: 10px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(978px at 251% -10%);
    }
    .heading{
        left: 646px;
    }
    #right{
        left: -204px;
    }
    
}
@media screen and (max-width:403px){
    
    .greet{
        left: 49px;
        width: 279px;
    }
    .fa-2x {
        font-size: 1.5em;
    }
    #right{
        left: -196px;
    }
    .heading {
        font-size: 18px;
        left: 702px;
    }
    nav {
        left: 231px;
    }
}
@media screen and (max-width:389px){
    td,th,a{
        font-size: 14px;
        padding: 10px 0;
    }
    .btn {
        padding: 10px 3px;
        width: 60%;
    }
    #right{
        left: -168px;
    }
    nav{
        left: 222px;
    }
    
}
@media screen and (max-width:369px){
    
    .nav-links li{
        right: 0px;
    }
    
}
@media screen and (max-width:365px){
    .heading {
        font-size: 18px;
        left: 714px;
    }
   
}
@media screen and (max-width:363px){
    .greet{
        left: 24px;
    }
    #right {
        left: -135px;
    }
    nav{
        left: 251px;
    }
    .nav-links.open {
        -webkit-clip-path: circle(1202px at 264% -10%);
    }    
   
}
@media screen and (max-width:344px){
    .fa-3x {
        font-size: 2em;
        position: relative;
        top: 10px;
    }
    
}
