@media screen and (max-width:2000px){
    #sem-btn{
        left: 644px;
    }
    
}
@media screen and (max-width:1680px){
    #sem-btn{
        left: 500px;
    }
    
}
@media screen and (max-width:1524px){
    #sem-btn {
        left: 320px;
    }
    .greet{
        margin-right: 79%;
        padding-bottom: 51px;
    }
}
@media screen and (max-width:1376px){
    label{
        margin: 0px 3px;
    }
    
}
@media screen and (max-width:1237px){
    #sem-btn {
        left: 236px;
    }
    
}
@media screen and (max-width:1141px){
    #sem-btn {
        left: 261px;
    }
    
}
@media screen and (max-width:1120px){
    #sem-btn {
        left: 218px;
    }
    
}
@media screen and (max-width:1109px){
    label{
        padding: 10px 3px 10px 0px;
    }
}
@media screen and (max-width:1000px) {
    .line {
        width: 30px;
        height: 3px;
        background: rgb(20, 20, 20);
        margin: 5px;
        position: relative;
        /* left: 940px; */
        left: 794px;
        top: -6px;
    }
    nav {
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.1);
        height: 3.3rem;
        left: 0;
        right: 0;
        width: 51rem;
        top: -2px;
        bottom: 0;
        position: fixed;
        padding-left: 25px;
        backdrop-filter: blur(5px);
        margin: 10px;
        text-align: right;
        z-index: 3;
    }
    .navbar {
        position: relative;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .greet {
        box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
        background: white;
        z-index: 2;
        height: 4rem;
        /* left: -33px; */
        left: -46px;
        right: 0;
        top: 85px;
        bottom: 0;
        width: 20%;
        position: relative;
        backdrop-filter: blur(5px);
        margin: 10px;
        margin-right: 0;
        padding-bottom: 0;
        /* margin-right: 70%; */
        text-align: center;
        padding-top: 10px;
        border-radius: 10px;
    }
    .fa-phoenix-framework {
        float: left;
        position: relative;
        top: -30px;
    }
    .nav-links{
        display: none;
    }

.container {
    margin-top: 14%;
    /* left: -96px; */
    left: -186px;
    top: 1rem;
    width: 698px;
}
#sem-btn {
    left: 204px;
    margin-right: 0;
}
.topuser{
    top: 10.5rem;
}
.shift{
    top: 5.5rem;
}
.topcontainer{
    top: 5.5rem;

}
    
    
}
@media screen and (max-width:938px){
    .line{
        left: 915px;
    }
    .container{
        top: 8rem;
        left: -222px;
    }
    .greet {
        top: 7rem;
        margin-right: 0;
        width: 45rem;
        margin: 2px auto;
        display: block;
        left: 20rem;
        padding: 18px 220px;
    }
    .user {
        color: black;
        position: relative;
        font-size: x-large;
        top: 1px;
        left: -171px;
        /* position: absolute; */
    }
    .user1 {
        top: -53px;
        position: relative;
        color: orangered;
        font-size: x-large;
    }
    #sem-btn{
        top: 12.5rem;
        left: 90px;
    }
    .topuser{
        top: 10rem;
    }
    .shift{
        top: 1.5rem;
    }
}
@media screen and (max-width:919px){
    .line{
        left: 878px;
    }
    #select-nav-links{
        column-gap: 4rem;
    }
    .container{
        top: 9rem;
    }
    .topcontainer{
        top: 10rem;
    }
}
@media screen and (max-width:878px){
    .line{
        left: 835px;
    }
    #sem-btn{
        left: 40px;
    }
    
}
@media screen and (max-width:842px){
    .line{
        left: 789px;
    }
}
@media screen and (max-width:830px){
    #sem-btn {
        left: 17px;
    }
}

@media screen and (max-width:808px){
    .line{
        left: 746px;
    }
    #select-nav-links{
        column-gap: 2.5rem;
    }
    #sem-btn {
        left: 10px;
    }
    .container{
        left: -200px;
    }
    .greet{
        padding: 18px 188px;
    }
    .topcontainer{
        top: 13rem;
    }
    .shift{
        top: 2.5rem;
    }
    
}

@media screen and (max-width:782px){
    #sem-btn {
        left: -9px;
    }
    .container{
        top: 10rem;
    }
    .topcontainer{
        top: 13rem;
    }
}
@media screen and (max-width:762px){
    .line{
        left: 700px;
    }
    #sem-btn {
        left: -21px;
    }
}
@media screen and (max-width:751px){
    #sem-btn {
        display: block;
        width: 50%;
        height: 7rem;
        left: 161px;
        top: 11.5rem;
        margin: 10px 0px 10px 25px;
    }
    label{
        margin: 1px 4px;
    }
    span .first-row ~label{
        position: relative;
        top:-0.8rem;
    }
    span .second-row ~label{
        position: relative;
        top:0.7rem;
    }
    .container{
        top: 12rem;
        left: -176px;
    }
    .greet{
        left: 22rem;
    }
    .topcontainer{
        top: 15rem;
    }
   
}
@media screen and (max-width:731px){
    #sem-btn{
        display: none;
    }
    #sem-btn2{
        display: flex;
        top: 6.5rem;
    }
    #sem-btn2 ul #filters{
        left: -14px;

    }
    .greet{
       left: 18rem;
       margin: 0;
    }
    .line{
        left: 660px;
    }
    #select-nav-links{
        column-gap: 2rem;
    }
    #secondbtn #sem-btn2  ul .shift2 {
        top: 5rem ;
        /* !important; */
    }
    .container{
        top: 3rem;
        left: -234px;
    }
    .topuser{
        top: 11rem;
    }
    .topcontainer{
        top: 10rem;
    }
}
@media screen and (max-width:693px){
    .line{
        left: 622px;
    }
    #select-nav-links{
        column-gap: 1.5rem;
    }
    .greet{
        padding: 10px 127px;
        left: 15rem;
    }
    .user{
        left: -65px;
    }
    .user1 {
        top: -31px;
        left: -73px;
    }
    #sem-btn2 ul #filters {
        left: 10px;
    }
    .container{
        width: 505px;
        left: -269px;
        /* top: 0rem; */
        top: 5rem;
    }
    .topcontainer{
        top: 9rem;
    }
    .lSAction>.lSNext {
        background-position: -32px 0;
        right: -16px;
    }
    .container .card{
        width: 200px;
        height: 349px;
    }
    .container .card .content h2{
        font-size: 2rem;
    }
    .container .card .content h3{
        font-size: 1.5rem;
        margin-top: 36px;
    }
    .container .card .content p{
        font-size: 0.7rem;
    }
    #sem-btn2 ul li >ul{
        display: block;
    }
    
}
@media screen and (max-width:657px){
    .line{
        left: 579px;
    }
    #select-nav-links{
        column-gap: 1rem;
    }
}
@media screen and (max-width:632px){
    .container{
        left: -257px;
        margin: 30px 20px;
        top: 8rem;
    }
    .topcontainer{
        top: 12rem;
    }
    #sem-btn2 ul #filters {
        left: 17px;
    }
    
}
@media screen and (max-width:621px){
    .line{
        left: 537px;
    }
    #select-nav-links a {
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width:608px){
    .container .card {
        width: 180px;
        height: 335px;
    }
    .container .card .content h2 {
        font-size: 1.5rem;
    }
    .container .card .content h3 {
        font-size: 1.3rem;
        margin-top: 25px;
    }
    .container .card .content p {
        font-size: 0.6rem;
    }
    .lSAction>.lSNext {
        background-position: -32px 0;
        right: 19px;
    }
    .container{
        left: -238px;
    }

}
@media screen and (max-width:579px){
    .line{
        left: 520px;
    }
    .greet{
        left: 15rem;
    }
    .container{
        margin: 30px 10px;
        left: -229px;
    }
    .container .card{
        margin: 30px 25px;
    }
    .lSAction>.lSNext {
        background-position: -32px 0;
        right: 34px;
    }
    #sem-btn2 ul #filters {
        left: -11px;
    }
}
@media screen and (max-width:560px){
    #sem-btn2 ul li >ul{
        display: none;
    }
    #sem-btn2 ul li:hover >ul{
        display: block;
    }
    #sem-btn2 ul #filters {
        left: -75px;
    }
    .container {
        margin: 30px;
        left: -172px;
    }
    
}
@media screen and (max-width:539px){
    .line{
        left: 450px;
    }
    #select-nav-links a {
        font-size: 0.6rem;
    }
    #select-nav-links{
        column-gap: 0.9rem;
    }
    .container {
        left: -165px;
    }
}
@media screen and (max-width:494px){
    .line{
        left: 430px;
    }
    #select-nav-links{
        column-gap: 0;
    }
    #select-nav-links a {
        font-size: 12px;
        /* padding: 12px -3px; */
        position: relative;
        left: 20px;
    }
    .container {
        left: -154px;
    }
    #sem-btn2 ul #filters {
        left: -87px;
    }
    .greet {
        left: 15rem;
    }
    
}
@media screen and (max-width:457px){
    .form h2{
        left: 4rem;
    }
    .container {
        left: -140px;
    }

}
@media screen and (max-width:445px){
    .line{
        left: 474px;
    }
    .container {
        left: -136px;
        top: 8rem;
    }
    .topcontainer{
        top: 12rem;
    }
    #select-link{
        width: 121%;
    }
    .greet {
        left: 17rem;
    }
    #select-link {
        left: -28px;
        width: 121%;
    }
    #sem-btn2 ul #filters {
        left: -47px;
    }
}
@media screen and (max-width:425px){
    .form h2{
        left: 4rem;
    }
    .container .card {
        width: 180px;
        height: 335px;
    }
    .container .card .content h2 {
        font-size: 1.5rem;
    }
    .container .card .content h3 {
        font-size: 1.3rem;
        margin-top: 25px;
    }
    .container .card .content p {
        font-size: 0.6rem;
    }
    .lSAction>.lSNext {
        background-position: -32px 0;
        right: 40px;
    }
    .container{
        top: 10rem;
        left: -135px;
    }
    .topcontainer{
        top: 13rem;
    }
}
@media screen and (max-width:410px){
    .lSAction>.lSNext {
        background-position: -32px 0;
        right: 40px;
    }
    .greet {
        left: 17rem;
    }
    #sem-btn2 ul #filters {
        left: -72px;
    }

}
@media screen and (max-width:396px){
    .line{
        left: 430px;
    }
    .fa-3x {
        position: relative;
        font-size: 2em;
    }
    .fa-phoenix-framework {
        top: -19px;

    }
    .greet {
        left: 18rem;
    }
    #sem-btn2 ul #filters {
        left: -55px;
    }

    
}
@media screen and (max-width:389px){
    .greet {
        left: 17rem;
    }
    #sem-btn2 ul #filters {
        left: -67px;
    }
    .container {
        left: -122px;
    }
    #select-link {
        width: 150%;
    }
    #select-nav-links {
        position: relative;
        right: -18px;
        column-gap: 0;
    }
    .greet {
        left: 19rem;
    }
    #sem-btn2 ul #filters {
        left: -37px;
    }
    #select-nav-links{
        right: 39px;
    }

}
@media screen and (max-width:363px){
    .line{
        left: 440px;
    }
    /* #select-nav-links{
        right: -35px;
    } */
    #select-nav-links a {
        left: 12px;
    }
    .fa-3x {
        position: relative;
        font-size: 2em;
    }
    .fa-phoenix-framework {
        top: -19px;

    }
    .container {
        left: -104px;
    }
    
}
@media screen and (max-width:344px){
    .container {
        left: -104px;
    }   
    #select-nav-links{
        right: 12px;
    }
}
@media screen and (max-width:332px){
    .line{
        left: 440px;
    }
    #select-nav-links{
        right: 12px;
    }
    #select-link {
        width: 162%;
    }
    .greet {
        left: 20rem;
    }
    #sem-btn2 ul #filters {
        left: -13px;
    }
    .fa-3x {
        font-size: 2em;
    }
    .fa-phoenix-framework {
        top: -19px;

    }
    .container .card{
        margin: 30px 20px;
    }
    .lSAction>.lSNext {
        background-position: -32px 0;
        right: 48px;
    }
    .container {
        left: -70px;
    }
}